body {
    background: rgb(81, 53, 145);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;

#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(107, 71, 190);
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(241, 227, 250);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #e8e3f0;
}

/* main container area beneath menu */
main {
    background: rgb(210, 199, 250);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(148, 148, 148) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}         /* portfolio styles */
         .content h1 {
             color: black;
         }

         #portfolio {
             list-style-type: none;
             padding-left: 0;
         }

         #portfolio li {
             background: #fff;
             padding: 10px;
             border-radius: 10px;
             margin-bottom: 10px;
         }

         #portfolio li:hover {
             background: #fff9f9;
         }

         #portfolio a {
             text-decoration: none;
             color: #454545;
         }